# Added by Payload
PAYLOAD_SECRET=8994d9f43e8406d4ee7036dd
DATABASE_URI=mongodb+srv://fahimarefin:Z0uIYg4SjAAl2tLM@cluster0.npqlwjo.mongodb.net/shanta-asset-management?retryWrites=true&w=majority&appName=Cluster0